<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="Universal Billing Hook"
        android:icon="@android:drawable/ic_menu_manage">

        <!-- LSPosed / Xposed 模块声明 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposeddescription"
            android:value="通用: 对任意接入 Google Play Billing 的应用回灌已购记录(无包名白名单, 自动探测 SKU)" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Universal Billing Hook">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
