<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="kill vip"
        android:icon="@android:drawable/ic_menu_manage">

        <!-- LSPosed / Xposed 模块声明 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposeddescription"
            android:value="kill vip: 通用 VIP/PRO 解锁模块(Billing+SP+DB盲扫+全兼容盲扫+内存对象结构盲扫) v1.9 全量注入 仅作用域勾选App生效" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="kill vip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
